In [1]:
import os
import pandas as pd
import shutil

Click below Link...



[Click Here to Download the CIFAR10 Dataset](https://www.kaggle.com/datasets/swaroopkml/cifar10-pngs-in-folders)

Extract the files

In [6]:
# Rename the Image

def rename_images(directory, new_name_prefix):
    # List all files in the directory
    files = os.listdir(directory)
    
    # Filter out only image files (assuming they have extensions like .jpg, .jpeg, .png)
    image_files = [f for f in files if f.endswith(('.jpg', '.jpeg', '.png'))]
    
    # Loop over the image files and rename them
    for i, filename in enumerate(image_files):
        # Generate new name
        new_name = f"{new_name_prefix}_{i + 10000}.png"
        
        # Get full paths
        old_file = os.path.join(directory, filename)
        new_file = os.path.join(directory, new_name)
        
        # Rename the file
        os.rename(old_file, new_file)

In [4]:
train_path = r'cifar10\cifar10\cifar10\train'

for folder in os.listdir(train_path):
    directory = os.path.join(train_path, folder)
    new_name_prefix = folder
    rename_images(directory, new_name_prefix)

In [8]:
val_path = r'cifar10\cifar10\cifar10\test'

for folder in os.listdir(val_path):
    directory = os.path.join(val_path, folder)
    new_name_prefix = folder 
    rename_images(directory, new_name_prefix)

In [9]:
train_data_ = {'Image_path':[], 'Label':[]}
train_path = r'cifar10\cifar10\cifar10\train'
for folder in os.listdir(train_path):
    image_path = os.path.join(train_path, folder)
    for img_path in os.listdir(image_path):
        train_data_['Image_path'].append(img_path)
        train_data_['Label'].append(folder)
train_annot = pd.DataFrame(train_data_)
train_annot

              Image_path     Label
0      airplane_1000.png  airplane
1      airplane_1001.png  airplane
2      airplane_1002.png  airplane
3      airplane_1003.png  airplane
4      airplane_1004.png  airplane
...                  ...       ...
49995     truck_5995.png     truck
49996     truck_5996.png     truck
49997     truck_5997.png     truck
49998     truck_5998.png     truck
49999     truck_5999.png     truck

[50000 rows x 2 columns]

In [10]:
val_data_ = {'Image_path':[], 'Label':[]}
val_path = r'cifar10\cifar10\cifar10\test'

for folder in os.listdir(val_path):
    image_path = os.path.join(val_path, folder)
    for img_path in os.listdir(image_path):
        val_data_['Image_path'].append(img_path)
        val_data_['Label'].append(folder)
val_annot = pd.DataFrame(val_data_)
val_annot

              Image_path     Label
0     airplane_10000.png  airplane
1     airplane_10001.png  airplane
2     airplane_10002.png  airplane
3     airplane_10003.png  airplane
4     airplane_10004.png  airplane
...                  ...       ...
9995     truck_10995.png     truck
9996     truck_10996.png     truck
9997     truck_10997.png     truck
9998     truck_10998.png     truck
9999     truck_10999.png     truck

[10000 rows x 2 columns]

In [33]:
classes = train_annot.Label.unique()
classes

array(['airplane', 'automobile', 'bird', 'cat', 'deer', 'dog', 'frog',
       'horse', 'ship', 'truck'], dtype=object)

In [34]:
class_map = {clss:id for id, clss in enumerate(classes)}
class_map

{'airplane': 0,
 'automobile': 1,
 'bird': 2,
 'cat': 3,
 'deer': 4,
 'dog': 5,
 'frog': 6,
 'horse': 7,
 'ship': 8,
 'truck': 9}

In [36]:
train_annot['Label'] = train_annot['Label'].map(class_map)
val_annot['Label'] = val_annot['Label'].map(class_map)

In [37]:
train_annot.head()

          Image_path  Label
0  airplane_1000.png      0
1  airplane_1001.png      0
2  airplane_1002.png      0
3  airplane_1003.png      0
4  airplane_1004.png      0

In [38]:
train_annot.to_csv(r'annotations/cifar10_train_annotations.csv', index = False)
val_annot.to_csv(r'annotations/cifar10_test_annotations.csv', index = False)

In [2]:
train_annot = pd.read_csv(r'annotations/cifar10_train_annotations.csv')
val_annot = pd.read_csv(r'annotations/cifar10_test_annotations.csv')
train_annot

              Image_path  Label
0      airplane_1000.png      0
1      airplane_1001.png      0
2      airplane_1002.png      0
3      airplane_1003.png      0
4      airplane_1004.png      0
...                  ...    ...
49995     truck_5995.png      9
49996     truck_5996.png      9
49997     truck_5997.png      9
49998     truck_5998.png      9
49999     truck_5999.png      9

[50000 rows x 2 columns]

In [ ]:
train_path = r'cifar10\cifar10\cifar10\train'
path_ = r'cifar10\cifar10\cifar10\train_'
i =0
for folder in os.listdir(train_path):
    image_path = os.path.join(train_path, folder)
    for img_path in os.listdir(image_path):
        src =os.path.join(image_path, img_path)
        dst= os.path.join(path_, img_path)
        shutil.copy(src, dst)

In [ ]:
test_path = r'cifar10\cifar10\cifar10\test_'
path_ = r'cifar10\cifar10\cifar10\test_'
i =0
for folder in os.listdir(test_path):
    image_path = os.path.join(test_path, folder)
    for img_path in os.listdir(image_path):
        src =os.path.join(image_path, img_path)
        dst= os.path.join(path_, img_path)
        # print(src, dst)
        shutil.copy(src, dst)